<!DOCTYPE html>
<html>
  <head>
		<%= render 'layouts/header' %>
  </head>
  <body>
			<%=render partial: 'layouts/menu' %>
		<div class="container">
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
  </body>
</html>
